@model ProyectoFinal.Models.Jugadores

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{
    if (ViewBag.mensajeError != null)
    {
        <div class="row mt-2 mb-2">
            <div class="col-md-6">
                <div class="alert alert-danger text-center" role="alert">
                    <p>@ViewBag.mensajeError</p>
                </div>
            </div>
        </div>
    }

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Jugadores</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

<div class="form-group">
    @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "control-label col-md-2" })
    
    @if (ViewBag.mensajeError != null)
    {
        if (ViewBag.tempNombre == null)
        {
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control", @Value = " " } })
                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.tempNombre } })
                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
            </div> 
        }
    }
    else
    {
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
        </div>
    }
</div>

    @if (ViewBag.mensajeError != null)
    {
        if (ViewBag.tempApellidos == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control", @Value = " " } })
                    @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                </div>
            </div>

        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.tempApellidos } })
                    @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    @if (ViewBag.mensajeError != null)
    {
        if (ViewBag.tempPosicion == null)
        {

            <div class="form-group">
                @Html.LabelFor(model => model.posicion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.posicion, new { htmlAttributes = new { @class = "form-control", @Value = " " } })
                    @Html.ValidationMessageFor(model => model.posicion, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.posicion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.posicion, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.tempPosicion } })
                    @Html.ValidationMessageFor(model => model.posicion, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.posicion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.posicion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.posicion, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.id_equipo, "id_equipo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_equipo", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_equipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
